@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=STIX+Two+Text:ital,wght@0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
body {
    background: #1B1B1B;
}
.flex {
    display: flex;
    align-items: center;
}
.site-header {
    width: 100%;
}
.site-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background: #1B1B1B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    height: 100px;
    padding: 0 30px;
    justify-content: space-between;
}
.site-nav__link {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}
.site-nav__link:hover {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #d9d20d;
    text-decoration: underline;
    transition: all 1s;
}
.nav-link__consul {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #DA4533;
    padding-left: 20px;
}
.site-nav__list {
    list-style-type: none;
}
.site-nav__item {
    margin-left: 30px;
}

.main-section {
    margin-top: 150px;
}
.oval {
    position: relative;
    text-align: center;
    width: 299px;
    height: 91px;
    background-color: #DA4533;
    border-radius: 50%;
}
.oval:hover > .oval-border {
    transform: rotateZ(-6deg);
}
.oval-text {
    padding-top: 25px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.oval-all {
    position: relative;
    text-align: center;
    width: 135px;
    height: 41px;
    border-radius: 50%;
    margin: 20px 0 20px 80px;
}
.oval-all__text {
    padding-top: 8px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #DA4533;
}
.oval-all__border {
    transition: all 1s;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 135px;
    height: 41px;
    background-color: transparent;
    border: 1px solid #DA4533;
    border-radius: 50%;
}
.button-arrow__right {
    position: absolute;
    color: #DA4533;
    top: 10px;
    right: -7px;
}
.button {
    position: relative;
    text-align: center;
    width: 135px;
    height: 41px;
    background-color: #1B1B1B;
    border-radius: 50%;
}
.button-text {
    padding-top: 8px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #DA4533;
}
.button-border {
    transition: all 1s;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 135px;
    height: 41px;
    background-color: transparent;
    border: 1px solid #DA4533;
    border-radius: 50%;
}
.button-arrow__left {
    position: absolute;
    color: #DA4533;
    top: 10px;
    left: -7px;
}
.button-arrow__left--right {
    position: absolute;
    color: #DA4533;
    top: 10px;
    right: -7px;
}

/* - - - Experience section */
.experience-section {
    margin: 50px 0;
}
.experience-heading {
    font-family: 'STIX Two Text';
    font-weight: 400;
    line-height: 135%;
    color: #FFFFFF;
}
.experience-rating {
    margin: 15px 0;
}
.experience-title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #8A8A8A;
}
.experience-rating__index {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0px;
    align-items: center;
}
.experience-rating__index--number {
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 500;
    padding-right: 15px;
    line-height: 30px;
    color: #FFFFFF;
}
.experience-rating__index--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    display: flex;
    align-items: center;
    color: #8A8A8A;
}
.practical-clients {
    margin: 15px 0;
}
.practical-clients__logo {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0px;
    align-items: center;
    text-align: center;
}
/* - - - /Experience section */

/* - - - Business Solving section - - - */
.solving-business__section {
    background-color: #FFFFFF;
    padding: 50px 0;
}
.solving-heading {
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    color: #1B1B1B;
}
.solving-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #8A8A8A;
}
.solving-card {
    background-color: #1B1B1B;
    border-radius: 8px;
    text-align: center;
    margin: 30px 10px;
}
.solving-arrow__up {
    padding: 10px;
    text-align: end;
}
.solving-card__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #8A8A8A;
    text-align: left;
    padding: 15px;
}
.button-left {
    position: relative;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 20px;
}
.button-left__border {
    transition: all 1s;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #DA4533;
    border-radius: 50%;
}
.button-left__arrow {
    position: absolute;
    color: #DA4533;
    top: 15px;
    left: -10px;
}
.button-right__arrow {
    position: absolute;
    color: #DA4533;
    top: 15px;
    right: -16px;
}
/* - - - /Business Solving section - - - */

/* - - - Registration section - - - */
.registration-section {
    padding: 50px 20px;
    background-color: #DA4533;
}
.registration-content__questions {
    background-color: #1B1B1B;
    margin: 5px;
}
.registration-content__bonus {
    background-color: #1B1B1B;
    margin: 5px;
}
.case-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}
/* - - - /Registration section - - - */

/* - - - Case Section - - - */
/* .case-section {
    padding: 50px 0;
    background-color: #1B1B1B;
}
.case-heading {
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.case-cards {
    margin: 10px 0;
}
.case-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #8A8A8A;
}

.case-card__logo {
    font-family: 'STIX Two Text';
    font-size: 24px;
    background-color: #404040;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    color: #8A8A8A;
}
.case-arrow__up {
    position: relative;
    top: -50px;
}
.case-card__content {
    padding: 20px;
}
.case-card__content--heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #F9F9F9;
    margin-bottom: 10px;
}
.case-card__content--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    color: #8A8A8A;
} */

/* - - - /Case Section - - - */

/*  - - - Experts section - - - */
.experts-section {
    padding: 50px 0;
    background-color: #FFFFFF;
}
.experts-heading {
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    color: #1B1B1B;
    margin-bottom: 10px;
}
.experts-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #8A8A8A;
}
.experts-card {
    margin: 10px;
}
.experts-image {
    background-image: url(../images/360images/main/raymm360.png);
    mix-blend-mode: luminosity;
    border-radius: 8px;
}
.experts-card__heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1B1B1B;
}
.experts-card__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #8A8A8A;
}
.forum-text {
    margin: 10px;
}
.forum-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #1B1B1B;
}
.forum-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #5C5C5C;
}
.forum-title__next {
    padding-left: 20px;
    color: #DA4533;
}
.forum-expert__card--image {
    mix-blend-mode: luminosity;
    margin: 10px;
}
.forum-expert__card--heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1B1B1B;
}
.forum-expert__card--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #5C5C5C;
}
.mentor-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1B1B1B;
}
.mentor-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #5C5C5C;
}
.forum-button__text--heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1B1B1B;
}
.forum-button__text--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    color: #1B1B1B;
}
.forum-button {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 5px 10px;
}
.forum-button__border {
    transition: all 1s;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: 1px solid #DA4533;
    border-radius: 50%;
}
.forum-arrow__right {
    position: absolute;
    color: #DA4533;
    top: 50px;
    right: -8px;
}
.forum-button__text {
    padding-top: 35px;
}
/*  - - - /Experts section - - - */

/*  - - - Help section - - - */
.help-section {
    background-color: #7d453e;
    padding: 50px 0;
}
/*  - - - /Help section - - - */
/*  - - - Footer section - - - */
.footer-section {
    padding: 50px 0;
}
.footer-address__title, .footer-address__location--title, .inn, .footer-address__inn--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    color: #8A8A8A;
}
.footer-address__location--title, .footer-address__inn--title {
    color: #FFFFFF;
}
.footer-links__content--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #5C5C5C;
}
.footer-links__list {
    list-style-type: none;
    padding-top: 10px;
}
.footer-links__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-links__first {
    display: flex;
}
.footer-links__content {
    padding: 10px;
}
.footer-copyright {
    margin-top: 10px;
}
.footer-copyright__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    color: #FFFFFF;
    padding: 5px 0;
}
.footer-copyright__title.active {
    color: #8A8A8A;
}
/*  - - - /Footer section - - - */


@media (max-width:360px) {
    .container {
        width: 320px;
        /* margin: 0 auto; */
    }
    .nav-link {
        display: none;
    }
    .site-nav__list {
        display: none;
    }
    .nav-bar {
        display: block;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        padding: 10px;
    }
    .main-section__ip {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #8A8A8A;
        text-align: center;
    }
    .main-section__heading {
        font-family: 'STIX Two Text';
        font-weight: 500;
        font-size: 34px;
        color: #FFFFFF;
        line-height: 160%;
        margin-top: 15px;
        text-align: center;
    }
    .main-section__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        color: #8A8A8A;
        line-height: 160%;
        margin: 15px 0;
        text-align: center;
    }
    .main-section__image {
        display: none;
    }
    .oval-border {
        transition: all 1s;
        position: absolute;
        top: -2px;
        left: -2.5px;
        width: 299px;
        height: 91px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }
    .experience-image {
        display: none;
    }
    .experience-heading {
        font-size: 24px;
    }
    .experience-rating__index {
        display: flex;
    }
    .solving-card {
        width: 280px;
        height: 260px;
    }
    .solving-card__second, .solving-card__third, .solving-card__fourth {
        display: none;
    }
    .button-left-right {
        margin-left: 68px;
    }
    .registration-content__questions {
        width: 270px;
        height: 400px;
    }
    .registration-content__bonus {
        width: 270px;
        height: 300px;
    }
    .registration-section__heading, .registration-section__title, .registration-content__questions--heading, .registration-types, .registration-buttons, .bonus-content, .bonus-cards {
        display: none;
    }
    .experts-image {
        width: 280px;
        height: 300px;
    }
    .experts-card__second, .experts-card__third, .experts-card__fourth {
        display: none;
    }
    .forum-expert__card {
        display: flex;
        align-items: center;
    }
}
@media (min-width:361px) and (max-width:480px) {
    .container {
        width: 420px;
        /* margin: 0 auto; */
    }
    .nav-link {
        display: none;
    }
    .site-nav__list {
        display: none;
    }
    .nav-bar {
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        padding: 10px;
    }
    .main-section__ip {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #8A8A8A;
        text-align: center;
    }
    .main-section__heading {
        font-family: 'STIX Two Text';
        font-weight: 500;
        font-size: 44px;
        color: #FFFFFF;
        line-height: 160%;
        margin-top: 15px;
        text-align: center;
    }
    .main-section__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        color: #8A8A8A;
        line-height: 160%;
        margin: 15px 0;
        text-align: center;
    }
    .main-section__image {
        display: none;
    }
    .oval {
        margin-left: 50px;
    }
    .oval-border {
        transition: all 1s;
        position: absolute;
        top: -2px;
        left: -2.5px;
        width: 299px;
        height: 91px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }
    .oval-all {
        margin-left: 130px;
    }
    .experience-image {
        display: none;
    }
    .experience-heading {
        font-size: 28px;
    }
    .experience-rating__index {
        margin: 10px;
    }
    .experience-rating__index--number {
        font-size: 28px;
    }
    .experience-rating__index--title {
        font-size: 14px;
    }
    .experience-rating__exact--number {
        width: 100%;
        display: flex;
    }
    .experience-rating__index {
        width: 50%;
    }
    .solving-card {
        width: 180px;
        height: 280px;
    }
    .solving-card__third, .solving-card__fourth {
        display: none;
    }
    .button-left-right {
        margin-left: 115px;
    }
    .registration-content__questions {
        width: 370px;
        height: 400px;
    }
    .registration-content__bonus {
        width: 370px;
        height: 300px;
    }
    .registration-section__heading, .registration-section__title, .registration-content__questions--heading, .registration-types, .registration-buttons, .bonus-content, .bonus-cards {
        display: none;
    }
    .experts-image {
        width: 180px;
        height: 200px;
    }
    .experts-card__third, .experts-card__fourth {
        display: none;
    }
    .forum-text {
        display: flex;
        justify-content: space-between;
    }
    .forum-expert__card,.mentor-forum__content {
        display: flex;
        align-items: center;
    }
    .footer-address__location {
        display: flex;
    }
    .footer-address__location--title {
        width: 60%;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
    .nav-link {
        display: block;
    }
    .site-nav__list {
        display: none;
    }
    .nav-bar {
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        padding: 10px;
    }
    .main-section__text {
        display: flex;
    }
    .oval-buttons__text {
        border: none;
    }
    .main-section__ip {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #8A8A8A;
    }
    .main-section__heading {
        font-family: 'STIX Two Text';
        font-weight: 500;
        font-size: 44px;
        color: #FFFFFF;
        line-height: 160%;
        margin-top: 15px;
    }
    .main-section__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        color: #8A8A8A;
        line-height: 160%;
        margin: 15px 0;
    }
    .main-section__image {
        width: 100%;
        height: auto;
    }
    .main-section__buttons {
        display: flex;
    }
    .experience-image {
        display: none;
    }
    .experience-heading {
        font-size: 32px;
    }
    .experience-rating__index--number {
        font-size: 32px;
    }
    .experience-rating__index--title {
        font-size: 14px;
    }
    .experience-rating__exact--number, .practical-clients__double {
        width: 100%;
        display: flex;
    }
    .experience-rating__index, .practical-clients__logo {
        margin: 10px;
        width: 50%;
    }
    .solving-card {
        width: 210px;
        height: 290px;
    }
    .solving-card__fourth {
        display: none;
    }
    .buttons {
        display: flex;
        margin-left: 150px;
    }
    .registration-content__questions {
        width: 400px;
        height: 450px;
    }
    .registration-content__bonus {
        width: 400px;
        height: 300px;
    }
    .registration-section__heading, .registration-section__title, .registration-content__questions--heading, .registration-types, .registration-buttons, .bonus-content, .bonus-cards {
        display: none;
    }
    .experts-image {
        width: 200px;
        height: 220px;
    }
    .experts-card__fourth {
        display: none;
    }
    .forum-text {
        display: flex;
        justify-content: space-between;
    }
    .forum-experts {
        display: flex;
    }
    .forum-expert__card {
        align-items: center;
    }
    .mentor-forum__content {
        display: flex;
        align-items: center;
    }
    .footer-address, .footer-address__location {
        display: flex;
    }
    .footer-address__image {
        margin-right: 30px;
    }
    .footer-address__location--title {
        width: 60%;
        margin-right: 10px;
    }
    .footer-links {
        display: flex;
    }
    .footer-copyright {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .pol-order {
        order: -1;
    }
}
@media (min-width:769px) and (max-width:1000px) {
    .container {
        width: 920px;
        margin: 0 auto;
    }
    .nav-bar {
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        padding: 10px;
    }
    .site-nav__list {
        display: none;
    }
    .main-section__text {
        display: flex;
    }
    .oval-buttons__text {
        border: none;
    }
    .main-section__buttons {
        display: flex;
    }
    .main-section__ip {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #8A8A8A;
    }
    .main-section__heading {
        font-family: 'STIX Two Text';
        font-weight: 500;
        font-size: 48px;
        color: #FFFFFF;
        line-height: 160%;
        margin-top: 15px;
    }
    .main-section__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        color: #8A8A8A;
        line-height: 160%;
        margin: 15px 0;
    }
    .experience-section {
        align-items: start;
    }
    .experience-image {
        display: block;
    }
    .experience-heading {
        font-size: 38px;
    }
    .experience-rating__index--number {
        font-size: 36px;
    }
    .experience-rating__index--title {
        font-size: 14px;
    }
    .experience-rating__exact--number, .practical-clients__double {
        width: 100%;
        display: flex;
    }
    .experience-rating__index, .practical-clients__logo {
        margin: 10px;
        width: 50%;
    }
    .solving-card {
        width: 280px;
        height: 260px;
    }
    .solving-card__fourth {
        display: none;
    }
    .buttons {
        display: flex;
        margin-left: 250px;
    }
    .registration-content__questions {
        width: 550px;
        height: 450px;
    }
    .registration-content__bonus {
        width: 550px;
        height: 300px;
    }
    .registration-section__heading, .registration-section__title, .registration-content__questions--heading, .registration-types, .registration-buttons, .bonus-content, .bonus-cards {
        display: none;
    }
    .experts-image {
        width: 280px;
        height: 300px;
    }
    .experts-card__fourth {
        display: none;
    }
    .forum-text {
        display: flex;
        justify-content: space-between;
    }
    .forum-expert__card {
        display: flex;
        align-items: center;
    }
    .forum-expert__card {
        display: flex;
        align-items: center;
        padding: 0 30px;
    }
    .mentor-forum__content, .forum-experts {
        display: flex;
        align-items: center;
        padding: 0 30px;
    }
    .footer-address, .footer-address__content, .footer-address__inn {
        display: flex;
    }
    .footer-address__inn--title, .footer-address__image {
        margin-right: 10px;
    }
    .footer-links {
        display: flex;
    }
    .footer-links__content--title {
        font-size: 18px;
    }
    .footer-links__link {
        font-size: 16px;
    }
    .footer-links__content {
        padding-right: 50px;
    }
    .footer-copyright {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .pol-order {
        order: -1;
    }
}
@media (min-width:1001px) and (max-width:1440px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
    .nav-bar {
        display: none;
    }
    .main-section__text {
        display: flex;
    }
    .oval-buttons__text {
        border: none;
    }
    .main-section__buttons {
        display: flex;
    }
    .main-section__ip {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #8A8A8A;
    }
    .main-section__heading {
        font-family: 'STIX Two Text';
        font-weight: 500;
        font-size: 55px;
        color: #FFFFFF;
        line-height: 160%;
        margin-top: 15px;
    }
    .main-section__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        color: #8A8A8A;
        line-height: 160%;
        margin: 15px 0;
    }
    .experience-section {
        align-items: start;
    }
    .experience-image {
        display: block;
    }
    .experience-heading {
        font-size: 38px;
    }
    .experience-rating__index {
        margin: 10px;
    }
    .experience-rating__index--number {
        font-size: 28px;
    }
    .experience-rating__index--title {
        font-size: 14px;
    }
    .experience-rating__exact--number, .practical-clients__double {
        width: 100%;
        display: flex;
    }
    .experience-rating__index, .practical-clients__logo {
        margin: 10px;
        width: 50%;
    }
    .solving-card {
        width: 220px;
        height: 280px;
    }
    .solving-card__fourth {
        display: block;
        display: flex;
    }
    .buttons {
        display: flex;
        margin-left: 400px;
    }
    .registration-section__heading {
        font-family: 'STIX Two Text';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 135%;
        color: #FFFFFF;
    }
    .registration-section__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
    }
    .registration-content {
        margin-top: 50px;
        width: 900px;
    }
    .registration-content__questions--heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        color: #FFFFFF;
        padding: 15px;
    }
    .registration-types__title {
        background: rgba(255, 255, 255, 0.05);
        padding: 15px;
        margin: 10px;
        width: 420px;
        height: 80px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
    }
    .registration-buttons {
        padding: 30px;
        justify-content: space-between;
    }
    .bonus-content {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        margin: 30px 0;
        line-height: 160%;
        color: #FFFFFF;
    }
    .bonus-card__content {
        background-color: #1B1B1B;
        border-radius: 8px;
        padding: 15px;
        width: 350px;
        height: 120px;
        margin-right: 20px;
    }
    .bonus-card__image {
        padding-right: 15px;
    }
    .bonus-card__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;color: #FFFFFF;
    }
    .experts-image {
        width: 210px;
        height: 250px;
    }
    .forum-text {
        display: flex;
        justify-content: space-between;
    }
    .forum-expert__card {
        display: flex;
        align-items: center;
        padding: 0 30px;
    }
    .mentor-content {
        padding: 0 30px;
    }
    .mentor-forum__content, .forum-experts {
        display: flex;
        align-items: center;
        padding: 0 30px;
    }
    .footer-address, .footer-address__content, .footer-address__inn {
        display: flex;
    }
    .footer-address__inn--title, .footer-address__image {
        margin-right: 10px;
    }
    .footer-links {
        display: flex;
    }
    .footer-links__content--title {
        font-size: 18px;
    }
    .footer-links__link {
        font-size: 16px;
    }
    .footer-links__content {
        margin-right: 100px;
    }
    .footer-copyright {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .pol-order {
        order: -1;
    }
}